header.svelte-i38i6a.svelte-i38i6a{width:100vw;min-height:100vh}a.svelte-i38i6a.svelte-i38i6a{margin:1rem 0}a.svelte-i38i6a #whatsapp-logo.svelte-i38i6a{max-height:2rem}section.svelte-i38i6a.svelte-i38i6a{display:grid;place-items:center;margin-top:2rem;padding-bottom:.5rem}section.svelte-i38i6a p.svelte-i38i6a{margin:1.5rem 10vw;text-align:center}
